# 2021.11.29

In [1]:
# Silver II
# 11729 하노이 탑 이동 순서

In [51]:
# 구글링 참고

def hanoi_tower(n, start, by, end):
    if n==1:
        print(start, end)
        return
    
    hanoi_tower(n-1, start, end, by)
    print(start, end)
    hanoi_tower(n-1, by, start, end)
    
n = int(input())
print(2**n-1)
hanoi_tower(n, 1, 2, 3)

 4

15
1 2
1 3
2 3
1 2
3 1
3 2
1 2
1 3
2 3
2 1
3 1
2 3
1 2
1 3
2 3