# 2021.12.20

In [1]:
# Silver V
# 7568 덩치

In [12]:
N = int(input())
li = []

for i in range(N):
    w, h = map(int, input().split())
    li.append([w, h])
    
for i in range(N):
    rank = 1
    for j in range(N):
        if (li[i][0] < li[j][0]) and (li[i][1]<li[j][1]):
            rank += 1 
    print(rank, end = ' ')

 5
 55 185
 58 183
 88 186
 60 175
 46 155

2 2 1 2 5

---

In [ ]:
# 네이버 코테 문제
# 룩나이트를 안겹치게 놓을 수 있도록
# 체스판에 망가진 블럭

# 건물이 1부터 N개
# 지하보도로 연결
# 1-2-3 4-5

---

In [5]:
# Siver V
# 11650 좌표 정렬하기

In [11]:
N = int(input())
li = []

for i in range(N):
    x, y = map(int, input().split())
    li.append([x, y])
li = sorted(li, key=lambda a : (a[0], a[1]))

for i, j in li:
    print(i, j)

 5
 3 4
 1 1
 1 -1
 2 2
 3 3

1 -1
1 1
2 2
3 3
3 4

---

In [12]:
# Silver IV
# 10773 제로

In [18]:
K = int(input())
li = []

for i in range(K):
    N = int(input())
    if N == 0:
        li.pop()
    else:
        li.append(N)
    
s = sum(li)
print(s)

 10
 1
 3
 5
 4
 0
 0
 7
 0
 0
 6

7

---

In [19]:
# Silver IV
# 9012 괄호

In [23]:
T = int(input())
li = []

for i in range(T):
    VPS = input()

for j in VPS:
    try:
        if j == '(':
            li.append(1)
        elif j == ')':
            li.pop()
        print('yes')

    except:
        print('no')

 6
 (())())
 (((()())()
 (()())((()))
 ((()()(()))(((())))()
 ()()()()(()()())()
 (()((())()(

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes